body {
  background-color: #f6f6f6;
  /*background: linear-gradient(135deg, rgba(63,151,233,1) 0%, rgba(63,151,233,1) 16%, rgba(28,120,225,1) 84%, rgba(26,118,224,1) 88%);/*/
}

/*****************************
FLEX STYLES
*****************************/

#home {
  width: 100%;
  height: 95vh;
  padding: 0;
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  justify-content: space-between;
  flex-wrap: wrap;
}

#rooms-container {
  /*display: flex;*/
  width: 30%;
  height: 95%;
  flex-order: 1;
}

#messages-container {
  width: 45%;
  height: 95%;
  /*align-self: flex-end;*/
  flex-order: 2;
}

#log-out-container {
  width: 5%;
}



/*****************************
LOGOUT BUTTON CONTAINER STYLES
*****************************/

#log-out-button {
  background-color: white;
  color: #658adf;
  padding: 10px;
  width: 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #2C71D8;
  border-radius: 15pX;
}


/*****************************
ROOM CONTAINER STYLES
*****************************/

.rooms-container {
  background-color: #2C71D8;
  display: flex;
  flex-direction: column;
  border: 1px solid #2C71D8;
  border-radius: 15px 50px;
}

.app-title {
  text-align: center;
  background-color: #fff;
  font-family: 'Barlow', sans-serif;
  padding: 10px 28px;
  color: #658adf;
  width: 175px;
  border: 1px solid #2c71d8;
  border-radius: 15px;
  margin-left: 1em;
}

.room-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.room-item {
  padding: 5px;
}

li {
  list-style-type: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

#new-room-button {
  background-color: white;
  color: #658adf;
  padding: 10px;
  width: 30%;
  margin-left: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #2C71D8;
  border-radius: 15px;
}


/*****************************
MESSAGES CONTAINER STYLES
*****************************/

#messages-container {
  background-color: #79A6E8;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #79A6E8;
  border-radius: 15px 50px;
}

.current-room {
  font-family: 'Barlow', sans-serif;
  margin-left: 1.5em;
  color: #fff;
}

.message-bubble {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #dfdfdf;
  /*background-color: #f6f6f6;*/
  margin: 1em;
  border: 1px solid #fff;
  border-radius: 15px;
}

.message-bubble .username {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 5px;
}

.message-bubble .content {
  padding-left:10px;
  padding-bottom: 5px;
}

.message-bubble .sentAt {
  right: 10px;
  top: 5px;
}

#message-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12%;
  margin-bottom: .15em;
  margin-left: 1.5em;
}

#message-field form {
  width: 100%;
}

#new-message-content {
  width: 85%;
  height: 85%;
  border-radius: 15px;
}

#send-message-button {
  width: 8%;
}

  /*.hidden {
    display: none;
    border: none;
  }*/
