<div class"home-template" id="home">
  <div class="rooms-container">
    <h1 class="app-title {{home.hideShow}}">Bloc Chat</h1>
    <div id="room-list-to-hide">
      <ul id="rooms-list">
        <li class="room-item" id="room-item" ng-repeat="chat in home.chatRooms">
          <a href="#" class="room-link {{home.hideShow}}" id="{{ chat.$value }}" data-ng-click="home.getRoomName(chat.$id)">{{ chat.$value }}</a>
        </li>
      </ul>
      <button class="btn btn-warning {{home.hideShow}}" id="new-room-button" type="button"  ng-click="home.open()">New room</button>
    </div>
      <button class="btn btn-warning" id="delete-cookies-button" type="button" ng-click="home.deleteCookies()">Delete Cookie for testing</button>
  </div>
  <div class="messages-container">
    <h1 class="current-room" ng-bind="home.activeRoom"></h1>
    <ul class="messages-list">
      <li class="message-bubble" ng-repeat="message in home.messages">
        <div class="username">{{ message.username }}</div>
        <div class="sentAt">{{ message.sentAt }}</div>
        <div class="content">{{ message.content }}</div>
      </li>
    </ul>
    <div id="message-send-bar" class="{{home.hideShow}}">
      <form>
        <input type="text" placeholder="Write your message here..." id="new-message-content">
        <button class="btn btn-primary" type="button" id="send-message-button" ng-click"home.submitMessage()">Send message</button>
      </form>
    </div>
  </div>
</div>
