<div class"home-template">
  <div class="rooms-container">
    <h1 class="app-title">Bloc Chat</h1>
    <ul "rooms-list">
      <li ng-repeat="chat in home.chatRooms">
        <a href="#" id="{{ chat.$value }}" data-ng-click="home.getRoomName(chat.$id)">{{ chat.$value }}</a>
      </li>
    </ul>
    <button class="btn btn-warning" id="new-room-button" type="button" ng-click="home.open()">New room</button>
  </div>
  <div class="messages-container">
    <h1 class="current-room" ng-bind="home.activeRoom"></h1>
    <ul class="messages-list">
      <li class="message-bubble" ng-repeat="message in home.messages">
        <div class="username">{{ message.username }}</div>
        <div class="sentAt">{{ message.sentAt }}</div>
        <div class="content">{{ message.content }}</div>
      </li>
    </ul>
  </div>
</div>
